<!DOCTYPE html>
<html>
<body style="text-align:center; margin-top:100px;">
    <h2>Register</h2>
    <form action="/register" method="POST">
        <input type="text" name="rollno" placeholder="Roll No" required><br><br>
        <input type="text" name="name" placeholder="Naam" required><br><br>
        <input type="text" name="attendance" placeholder="Attendance %" required><br><br>
        <input type="text" name="fees" placeholder="Fees Paid/Pending" required><br><br>
        <button type="submit">Register Karo</button>
    </form>
    <p>Pehle se ho? <a href="/login">Login karo</a></p>
</body>
</html>